
<nav ngxNavbarDynamicExpand class="navbar navbar-dark bg-dark">

  <a routerLink="" class="navbar-brand" href="#">Logo</a>

  <button class="navbar-toggler" type="button" (click)="collapse.toggle()">
    <span class="navbar-toggler-icon d-flex align-items-center justify-content-center"></span>
  </button>
  
  <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li routeLinkActive="active" class="nav-item">
        <a routerLink="" class="nav-link" >Home</a>
      </li>
      <li routeLinkActive="active" class="nav-item">
        <a routerLink="/login" class="nav-link" >Login</a>
      </li>
      <li routeLinkActive="active" class="nav-item">
        <a routerLink="/cursos" [queryParams]="{pagina:1}" class="nav-link" >Cursos</a>
      </li> 
      <li routeLinkActive="active" class="nav-item">
        <a [routerLink]="['curso', idCurso.value]" class="nav-link" >Cursos com Id</a>
      </li>      
    </ul>
  </ngx-navbar-collapse>
</nav>

<div class="container">
  <p>Entre com o Id do curso</p>
  <br>
  <input #idCurso (input)="0">
  <br>
  <br>
  
  
  <router-outlet></router-outlet>

</div>

<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>-->

