<p>A diretiva está dentro da pasta "app/shared/fundo-amarelo.directive.ts"</p>

<h2>-Diretiva que muda cor de fundo</h2>
<h5>ElementRef e Renderer </h5>
<br>
<p FundoAmarelo>Texto com fundo amarelo</p>
<br>
<button FundoAmarelo>Click</button>

<br><br>

<h2>-Criando uma diretiva personalizada com efeito de mouse</h2>
<h5>HostBinding e HostListener </h5>
<br>
<p HighlightMouse>
    Texto com highlight quando passo o mouse.
</p>

<br>
<h2>-Diretiva personalizada + property binding</h2>
<h5>Input, HostBinding e HostListener </h5>
<br>
<p [highlight]="'red'" [defaultColor]="'grey'">
    Texto com highlight com cores customizadas
</p>

<br>
<h2>-Criando um else com uma diretiva de estrutura personalizada</h2>
<h5>Input, TemplateRef e ViewContainerRef </h5>
<br>
<div *ngIf="diretivaExibe">
    Lista de cursos aqui.
</div>

<!--Não existe ELSE, tem que negar para mostrar o oposto do IF-->
<div *ngElse="diretivaExibe">
    Não existe cursos para serem listados.
</div>

<br>
<button (click)="btnDiretiva()" class="btn btn-primary">
    Mostrar ou esconder cursos
</button>







