<p>A diretiva está dentro da pasta "app/shared/fundo-amarelo.directive.ts"</p>

<h5>Diretiva que muda cor de fundo</h5>
<p FundoAmarelo>Texto com fundo amarelo</p>
<br><br>
<button FundoAmarelo>Click</button>

<br><br><br><br>

<h5>Criando uma diretiva personalizada com efeito de mouse</h5>
<p HighlightMouse>
    Texto com highlight quando passo o mouse.
</p>


<h5>Diretiva personalizada</h5>
<p [highlight]="'red'" [defaultColor]="'grey'">
    Texto com highlight com cores customizadas
</p>








