<h5>Exemplos de Pipes</h5>

<!--Os pipes filtrando cada valor, camelCase é um pipe personalizado!-->
<p>Título: {{ livro.titulo | uppercase | lowercase | camelCase }} </p>
<p>Estrelas: {{ livro.ranting | number:'1.1-1' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency:'BRL':true }}</p>
<!--<p>Data Lançamento: {{ livro.dataLancamento | date:'dd-MM-yyyy' }}</p>-->
<p>Data Lançamento: {{ livro.dataLancamento | date }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json }}</p>

<input type="text" [(ngModel)]="filtro">

<br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">
    Add Curso
</button>

<h5>Pipe Puro</h5>

<ul>
    <li *ngFor="let liv of livros | filtroArray:filtro">
        {{ liv }}
    </li>
</ul>
<br><br>

<h5>Pipe Impuro</h5>

<ul>
    <li *ngFor="let liv of livros | filtroArrayImpuro:filtro">
        {{ liv }}
    </li>
</ul>


<h5>Maneira correta de usar filtro nos projetos</h5>

<ul>
    <li *ngFor="let liv of obterCursos()">
        {{ liv }}
    </li>
</ul>

<br><br>
<h5>Exemplo de Pipes: Async</h5>

<p>{{ valorAsync | async }}</p>


<br>
<h5>Exemplo de Pipes: Observable</h5>

<p>{{ valorAsync2 | async }}</p>