


<div class="container">
    <!--
        <h5>Sem select</h5>      
    <div class="row">
        <div class="col">
            <div class="panel panel-default">    
                       
                <div class="panel-heading">                    
                    Título  -
                </div>
                <div class="panel-body">
                    <ng-content></ng-content>                    
                </div>
            </div>
        </div>
    </div>-->
    <h5>Com select</h5>
    <div class="row">
        <div class="col">
            <div class="panel panel-default">                
                <div class="panel-heading">                    
                    <ng-content select=".titulo"></ng-content>  
                </div>
                <div class="panel-body">
                    <ng-content select=".corpo"></ng-content>                    
                </div>
            </div>
        </div>
    </div>
 </div>
