

<!--
<app-diretiva-ngif></app-diretiva-ngif>
-->


<!--
<app-diretiva-ngfor></app-diretiva-ngfor>
-->

<!--
<app-diretiva-ngswitch></app-diretiva-ngswitch>
-->

<!--
<app-diretiva-ngclass></app-diretiva-ngclass>
-->

<!--
<app-diretiva-ngstyle></app-diretiva-ngstyle>
-->

<!--
<app-operador-elvis></app-operador-elvis>
-->



<!--
    <p>Sem select</p>
<app-exemplo-ng-content>
    Conteúdo passado para o componente.
    //<app-diretiva-ngclass></app-diretiva-ngclass>
</app-exemplo-ng-content>
-->


<!--
<app-exemplo-ng-content>
    <div class="titulo">
        Título do Painel
    </div>
    <div class="corpo">
        Conteúdo passado para o componente.
    </div>
    <div class="corpo">
        Conteúdo passado para o componente 2.
    </div>
</app-exemplo-ng-content>
-->



<!--Criando uma Diretivas de atributos-->
<!--ElementRef e Renderer: Manipulando DOM-->
<!--Diretiva: é um componente sem template-->
<!--
<app-diretiva-customizadas></app-diretiva-customizadas>
-->

<router-outlet></router-outlet>
