<form class="mt-5" [formGroup]="formulario">

    <div class="form-group row" >
        
        <div class="col-sm-12">

            <label for="nome" class="label font-weight-bold">Nome</label>

            <input type="text" formControlName="nome" class="form-control"
            id="nome" placeholder="Nome">
                    
            <alert type="danger" [dismissible]="dismissible" >
                <strong>Nome</strong>  é obrigatorio!
            </alert>
           
        </div>
    </div>
    

    <div class="form-group row">
        
        <div class="col-sm-12">

            <label for="emailLb" class="label font-weight-bold">Email</label> 

            <input type="email"  formControlName="email" class="form-control"
            id="email" placeholder="nome@Email.com"required email >
        
            <alert type="danger" [dismissible]="dismissible">
                <strong>E-mail</strong> é obrigatorio!
            </alert>
        </div>
    </div>

    
    <button type="submit" class="btn btn-primary">Enviar</button>  

</form>


<app-form-debug [form]="formulario"></app-form-debug>


