<section class="property-binding">

    <article>
        <h3>Interpolation / Interpolação</h3>
        <p>{{ teste }}</p>
        <p>Valor de uam soma: {{getCalculo()}}</p>
    </article>

    <article>
        <h3>Property Binding</h3>
        <!--<img src="{{ urlImagem }}">-->
        <br>
        <!--<img [src]="urlImagem ">-->
    </article>

    <article>
        <h3>Event Binding</h3>
        <div>
            <button class="btn btn-primary">Click</button>
        </div>
    </article>
</section>
