
<div class="container">

    <div class="row">
        <div class="col-md-12">

            <section class="property-binding">

                <article class="blockStyle">
                    <h3>Interpolation / Interpolação  (<small> Do Componente para o Template!</small>)</h3>
                    
                    <p>{{ teste }}</p>
                    <p>Valor de uam soma: {{getCalculo()}}</p>
                    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
                    <p>O curso é bom: {{ cursoAngular && getCurtirCurso()}}</p>

                </article>

                <article>
                    <h3>Property Binding  (<small> Do Componente para o Template!</small>)</h3>

                    <!--Interpolação também faz  property binding!-->
                    <!--<img src="{{ urlImagem }}">-->
                    <br>
                    <!--Exemplo claro de property binding-->
                    <img [src]="urlImagem ">
                    <br>
                    <!--Formato padrão é através de bind-nomePropriedade-->
                    <!--<img bind-src="urlImagem" />-->
                    <br>
                    <!--Pesquisar depois-->     
                    <!--Quando não existe uma propriedade no elemento, usa-se [attr.colspan]-->

                </article>

                <article>
                    <h3>Property Binding com CSS/Class-Binding</h3>
                    
                    <select #varSelect (change)="0">
                        <option value="alert-success">Sucesso</option>
                        <option value="alert-info">Info</option>
                        <option value="alert-warning">Alerta</option>
                        <option value="alert-danger">Erro</option>
                    </select>
                    <br><br>
                    <div class="alert {{ varSelect.value}}" role="alert">Otexto é colorido de acordo com oque foi escolhido</div>
                    <br><br>

                    <div class="alert" role="alert" [class.alert-success]="varSelect.value == 'alert-success'">Sucesso</div>
                    <div class="alert" role="alert" [class.alert-info]="varSelect.value == 'alert-info'">Info</div>
                    <div class="alert" role="alert" [class.alert-warning]="varSelect.value == 'alert-warning'">Alerta</div>
                    <div class="alert" role="alert" [class.alert-danger]="varSelect.value == 'alert-danger'">Erro</div>

                    <br><br>
                    <div class="alert alert-danger" role="alert" [style.display]="varSelect.value == 'alert-danger' ? 'block': 'none'">Só exibe caso tenha erro</div>

                </article>

                <article>
                    <h3>Event Binding</h3>

                    <!--Evento de clique-->
                    <div>
                        <button class="btn btn-primary"
                            (click)="botaoClicado()">
                            Me clique!
                        </button>
                    </div>
                    <br><br>

                    <!--keyup: evento quando termina de digitar -->
                    <!--keyup.enter: evento quando aperta o enter!-->
                    <!--blur: evento quando perde o foco -->
                    <!--#campoInput: Variavel/propriedade criada que faz referencia ao controlador input-->
                    <input type="text"
                        (keyup)="onKeyUp($event)"
                        (keyup.enter)="salvarValor($event.target.value)"
                        (blur)="salvarValor(campoInput.value)"
                        #campoInput />

                    <br><br>
                    
                    <p>Valor atual: {{ valorAtual }}</p>
                    <p>Valor atual: {{ valorSalvo }}</p>
                    
                    <br><br>                       

                    <!--mouseover: evento ocorre quando coloca o mouse em cima do controlador span-->
                    <!--mouseover: evento ocorre quando tira o mouse de cima do controlador span-->                    
                    <span
                    (mouseover)="onMouseOverOut()"
                    (mouseout)="onMouseOverOut()"
                    [class.highlight]="isMouseOver">
                    Passe o mouse sobre mim</span
                        >

                    <br><br>  
                </article>

                <article>
                    <h3>Two-way data binding</h3>

                    <!--o controlador input tem um evento chamado input, ativa quando atualiza o campo-->
                    <!--<input type="text"
                        [value]="nome"
                        (input)="nome = $event.target.value"
                    />-->

                    <!--ngModel: é a representação de uma entidade-->
                    <!--ngModel tem um evento chamado ngModelChange, ativa quando o campo é atualizado-->  

                    <!--<input type="text"
                        [ngModel]="nome"
                        (ngModelChange)="nome = $event"
                    />-->

                    <input type="text" [(ngModel)]="nome">                   

                    <p>Você digitou: {{ nome }}</p>
                    <br><br>
                    <input type="text" [(ngModel)]="pessoa.nome" />
                    <input type="text" [(ngModel)]="pessoa.idade" />

                    <p>Meu nome é : {{ pessoa.nome }}, e a minha idade é: {{ pessoa.idade }}</p>


                    <br><br>
                    <br><br>
                </article>

                <article>
                    <h3>Input/Output Properties</h3>
            
                    <!--Jogando informação de um componente para o outro, usando as input-property-->
                    <!--Só foi possivel criar a propriedade "nome", porque foi declarado um @input-->
                    <!--O componente pai está enviando informação para o componente filho!!-->
                    <app-curso [nome]="nomeDoCurso"></app-curso>


                    <!--Um segundo componente filho!-->
                    <!--Com o evento personalizado, o filho consegue enviar o valor da propriedade para o componente pai-->
                    <contador [valor]="valorInicial" 
                    (mudouValor)="onMudouValor($event)"></contador>
            
                    
                    <br><br>
            
                    
                </article>
              

                <article>
                    <h3>DOM Properties</h3>        
                   

                    <dom [valorDOM]="valorInicialDOM"
                    (eventoPersonalizado)="pegandoValorQueFoiPassadoPorDom($event)"></dom>                   
            
                    
                    <br><br>
            
                    
                </article>
            </section>
        </div>        
    </div>
</div>
